/* Simple reset */

html {
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	box-sizing: border-box;
	background: var(--lightGrey);
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: 'Rubik', sans-serif;	
}

body, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Colors */

:root {
	/*text*/
	--paleViolet: hsl(276, 100%, 93%);
	--moderateViolet: hsl(276, 55%, 52%);
	--desaturatedDarkViolet: hsl(271, 15%, 43%);
	--grayishBlue: hsl(206, 6%, 79%);
	--veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
	--darkGrayishViolet: hsl(270, 7%, 64%);
	
	/*gradients*/
	--lightMagenta: hsl(293, 100%, 63%);
	--lightViolet: hsl(264, 100%, 61%);
	
	/*secondary*/
	--white: hsl(0, 0%, 100%);
	--lightGrayishViolet: hsl(270, 20%, 96%);
	--lightGrey: hsl(0, 0%, 94%);
	--veryLightMagenta: hsl(289, 100%, 72%);

	/*border radis*/
	--appCurve: 15px;
}

/* Canvas */

.canvas {
	background: var(--white);
    box-shadow: 0 0 40px rgba(0,0,0,.2);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.canvas:before,
.canvas:after {
	content: "";
	display: block;
    position: absolute; 
    height: 600px; 
    width: 400px; 
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    background: linear-gradient(190deg, var(--lightMagenta) 0%, var(--lightViolet) 100%);
}

.canvas:before {
	margin-left: -40px;
}

.canvas:after {
	transform: rotate(180deg);
	bottom: 0;
	right: 0;
	margin-right:-40px;
	opacity: .05;
}

/* App > header */

.appWrap {
	z-index: 1;
    display: flex;
    gap: 6em;
    width: 60%;
    align-items: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.appInfo h1 {
	color: var(--veryDarkDesaturatedViolet);
}

.appInfo p {
	color: var(--darkGrayishViolet);
	line-height: 1.5;
}

.phone {
	width: 300px;
	height: 615px;
	background: var(--lightGrayishViolet);
	border: .75em solid var(--white);
	border-radius: 2.5em;
	box-shadow: 0 30px 40px rgba(0,0,0,.3);
	overflow: hidden;
}

.phone .header {
	background: linear-gradient(190deg, var(--lightMagenta) 0%, var(--lightViolet) 100%);
	border-radius: .75em .75em .2em .2em;
	box-shadow: 0 5px 6px rgba(0,0,0,.2);	
	display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.phone .header > * {
	padding: 15px;
}

.phone .header:before {
	content: "";
	display: block;
	width: 60%;
	height: 20px;
	background: var(--white);
	position: absolute;
	top: 0;
	left:50%;
	transform: translateX(-50%);
	border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.phone .header > *,
.phone .walkerInfo > * {
	display: inline-block;
	vertical-align: middle;
}

.avatar {
	position: relative;
}

.avatar img {
	border-radius: 100%;
	width: 40px;
	border: 2px solid var(--white);
	margin: 0 5px 0 12px;
}

.avatar:before {
    content: "";
    display: block;
    line-height: 1;
    font-size: 1.2em;
    border: 2px solid rgba(255, 255, 255, 1);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    left: 0;
    color: var(--white);
}

.nameAvailability {
	font-size: .75em;
}

.nameAvailability * {
	margin: 0;
}

.nameAvailability h3 {
	color: var(--white);
}

.nameAvailability h4 {
	color: var(--veryLightMagenta);
	font-weight: normal;
}

.walkerExtra {
	text-align: right;
}

a.extra {
	color: var(--white);
}

a.extra:before {
    content: ":";
    position: absolute;
    margin-top: -6px;
}

/* App > chat */

.chat {
	padding: 10px;
	font-size:.8em;
	height: 319px;
    overflow: auto;
}

.walkerWrap {
	padding-right: 20%;
}

.userWrap {
	padding-left: 20%; 
	text-align: right;
}

.walkerWrap > *,
.userWrap > * {
	display: inline-block;
	text-align: left;
}

.userWrap {
	margin-top: 15px;
	margin-bottom: 15px;
}

.walkerChat,
.userChat {
	padding: 10px;
	border-radius: 15px;
	margin-bottom:10px;
}

.walkerChat {
	box-shadow: unset;
	background: var(--paleViolet);
	color: var(--moderateViolet);
	border-bottom-left-radius: 3px;
}

.userChat {
	box-shadow: 0 3px 7px rgba(0,0,0,.1);
	border-bottom-right-radius: 3px;
}

.imageOnly {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    flex-flow: row-reverse;
	padding: 0;
	box-shadow: unset;
}

.imageOnly img {
	border-radius: 10px;
	width: 55px;
}

/* App > rate */

form.pricing {
	padding-left: 10px;
	font-size: .8em;
}

.rate {
	background: linear-gradient(9deg, var(--lightMagenta) 0%, var(--lightViolet) 100%);
	color: var(--white);
	margin: 10px 25% 10px 0;
	padding: 10px;
	border-radius: 15px;
	border-bottom-left-radius: 3px;
}

.rate label {
	display: inline-grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

.rate label span {
	font-weight: bold;
	font-size: 1.2em;
}

/* App > send */

.sendWrap {
	display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 5px;
	margin: 10px;
	padding: 10px;
	background: var(--white);
	border-radius: 100px;
}

.sendWrap input {
	border: 0;
	padding: 5px;
}

.sendWrap button {
	background: var(--veryDarkDesaturatedViolet);
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    position: relative;
}

.sendWrap button:before,
.sendWrap button:after {
	content: "";
	position: absolute;
	background: var(--white);
	height: 2px;
	width: 8px;
}

.sendWrap button:before {
	transform: rotate(45deg);
	top: 11px;
    left: 12px;	
}

.sendWrap button:after {
	transform: rotate(135deg);
    top: 16px;
    left: 12px;	
}

/* Helpers */

.hidden {
	display: none;
}

.noUnderline {
	text-decoration: none;
}